.pickpart{
    margin: 10px;
}
.choosePart,.watt{
    color: rgb(247, 245, 245);
}
.table{
    color: rgb(247, 245, 245);   
}
.total{
    color: rgb(247, 245, 245);
    margin: 10px;
}
.submitbut{
    border-radius: 5px;
}
