.widebox {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 50, 54);
}
.navbar {
  margin-bottom: auto;
  min-width: 100%;
  padding: 0;
}
.footer {
  margin-top: auto;
  padding: 0;
}
.form {
  padding: 0 5px 0 5px;
}
.register{
  display: flex;
  justify-content: center;
}
.backregister {
  display: flex;
  height: auto;
  width: 600px;
  /* padding:10px 5px 10px 5px ; */
  margin: 30px 60px 30px 60px ;
  background-color: #a19a95;
}
.fnamelname{
  display: flex;
flex-direction: row;
}
.fname{
  margin: 5px 5px 5px 0;
}
.lname{
  margin: 5px 5px 5px 0;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.Emailpassword {
  display: flex;
  flex-direction: row;
  
}
.email {
  margin: 5px 5px 5px 0;
}
.password {
  margin: 5px 5px 5px 0;
}

.address1 {
  margin: 5px 5px 5px 0;
}
.address2 {
  margin: 5px 5px 5px 0;
}
.CityStateZip {
  display: flex;
  flex-direction: row;
}
.city {
  margin: 5px 5px 5px 0;
}
.state {
  margin: 5px 5px 5px 0;
}
.zip {
  margin: 5px 5px 5px 0;
}
.phonenumber{
  margin: 5px 5px 20px 0;
}
.submitbottom {
  margin: 5px;
}
